<div id="profile_section" class="<%= first ? "first" : "" %>">
<h3><%= section.title %></h3>
<h4><%= section.subtitle %></h4>

<img src="<%= prefixed_url(section.image_url) %>" />
<% section.subsections.each do |subsection| %>
  <div id="row">
    <% if subsection.col1 %>
    <div id="col1">
      <%= clean subsection.col1 %>
    </div>
    <% end %>
    <% if subsection.col2 %>
    <div id="col2">
      <%= clean subsection.col2 %>
    </div>
    <% end %>
    <% if subsection.col3 %>
    <div id="col3">
      <%= clean subsection.col3 %>
    </div>
    <% end %>
  </div>
<% end %>
<div class="clear"></div>
</div>
