<li id="table_section">
  <div id="category">
    Table Section <br />
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, t(:remove) %>
  </div>  
  <%= f.label :title %>
  <%= f.text_field :title %><br />
  <%= f.label :subtitle %>
  <%= f.text_field :subtitle %><br />
  <%= f.hidden_field :type %>
  <ul>
    <%= f.semantic_fields_for :subsections do |ref| %>
      <%= render 'table_subsection_fields', :f => ref %>
    <% end %>
    <li>
      <%= link_to_add_fields add(:table_row), f, :subsections, TableSubsection.new %>
    </li>
  </ul>
</li>
