<% title "Pages" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for page in @pages %>
    <tr>
      <td><%= page.name %></td>
      <td><%= link_to "Show", [@project,page] %></td>
      <td><%= link_to "Edit", edit_project_page_path(@project,page) %></td>
      <td><%= link_to "Destroy", [@project,page], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Page", new_project_page_path(@project,page) %></p>
