<% title "Page" %>

<p>
  <strong>String:</strong>
  <%= @page.string %>
</p>
<p>
  <strong>Project:</strong>
  <%= @page.project_id %>
</p>

<p>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
</p>
