<%= semantic_form_for @project, :html => {:multipart => true} do |f| %>
  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.semantic_fields_for :pictures, :html => {:multipart => true} do |ref| %>
    <%= render 'picture_fields', :f => ref %>
  <% end %>
  <li><%= link_to_add_fields add(:picture), f, :pictures, Picture.new %></li>
  <%= f.semantic_fields_for :papers, :html => {:multipart => true} do |ref| %>
    <%= render 'paper_fields', :f => ref %>
  <% end %>
  <li><%= link_to_add_fields add(:paper), f, :papers, Paper.new %></li>
  <%= f.submit %>
<% end %>
