<div id="paper">
<div id="category">
    Paper Section <br />
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, t(:remove) %>
  </div> 
<li id="paper_name_input" class="<%= @project.errors['papers.name'].empty? ? '' : 'error'%>">
  <%= f.input :name , :hint => "A unique name for your paper file." %>
  <% unless @project.errors['papers.name'].empty? %>
    <p class="inline-errors"><%= @project.errors['papers.name'].join(',') %></p>
  <% end %>
</li>
<li>
  <%= f.label :file %>
  <%= f.file_field :file %>
</li>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
<li>
  <%# f.label :caption %>
  <%# f.text_field :caption %>
  <%# f.hidden_field :updated_at %>
</li>
</div>
