<div id="picture">
<div id="category">
  Picture Section <br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, t(:remove) %>
</div> 
  <%= f.input :name, :hint => "A unique name for your image."  %>
<li>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
</li>
<li>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.hidden_field :updated_at %>
</li>
</div>
