<h3>Projects</h3>

<br />
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= project.name %>
      <%= link_to "Show", project if can? :show, project %>
      <%= link_to "Edit", edit_project_path(project) if can? :edit, project %>
      <%= link_to "Destroy", project, :confirm => sure?, :method => :delete if can? :destroy, project %>
    </li>
  <% end %>
</ul>

<div id="bottom_links">
  <%= link_to "New Project", new_project_path if can? :new, Project%>
</div>

