<p><%= @paper.title %> is password protected.</p><br />

<%= form_tag private_exchange(download_project_paper_path(@project,@paper)) do %>
  <li>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </li>
  <%= hidden_field_tag :title, @paper.title %>
  <%= submit_tag t(:submit), :class => :submit %></li>
<% end %>
