<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "default" %>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
    <![endif]-->       
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, @project.title %>
      <%= content_tag :h2, @project.subtitle %>
      <%# content_tag :h1, yield(:title) if show_title? %>
      <%# content_tag :h2, yield(:subtitle) if show_subtitle? %>
      <div id="menu">
        <ul>
          <% @project.pages.each do |page| %>
          <li><%= link_to page.name, [@project,page] %></li>
          <% end %>
        </ul>
        <div id="picture">
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
